<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"</link>
         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

        <title>News APP</title>
       <style>.navbar { margin-bottom: 0px;}</style> 
    </head>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
            <a href="/" class="navbar-brand" style="color:#ffffff">NewsApp</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="#">categories</a></li>
            <li><a href="#">blogs</a></li>
            <li><a href="#">about</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <% if(!currentUser){ %>
            <li><a href="/login">LogIn <i class="fas fa-user"></i></a></li>
            <li><a href="/register">SignUp <i class="fas fa-user-plus"></i></a></li>
            <%} else{ %>
            <li><a href="/profilenav"><%= currentUser.username %></a></li>
            <li><a href="/logout">Log out</a></li>
            <% } %>
        </ul>
        </div>
    </nav>
    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <% if(error.length>0){%>
<div class="alert alert-danger container" style="margin-top:40px;"><%=error%></div>
<% }if(success.length>0){%>
<div class="alert alert-success container" style="margin-top:40px;"><%=success%></div>
<% } %>